    <div class="text-center py-14 border-bottom mt-[68px] bg-MyGray">
        <div class="w-11/12 mx-auto">
            <p class="text-MyYellow text-3xl font-bold mb-2">PERSONAL PROJECTS</p>
             <P class="">During the study process, I completed several small projects. <br>I would appreciate it if you could take a look and provide further comments. Thank you very much!</P>
             <a href="#project" class="px-3 py-2 rounded-full mt-4 btn-hover">See more</a>
        </div>
    </div>

    <div class="border-bottom py-24 " id="project">
        <div class="w-11/12 xl:w-5/6 mx-auto text-center">
            <p class="title">moho Shop</p>
            <div class="flex flex-col lg:flex-row items-center gap-8">
                <div class="hidden lg:block text-left w-1/4 leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                    <p class="text-sm">moho was created with the main purpose of selling facial care products. With the main color being pink, it's more approachable and feels more feminine.</p>
                    <button onclick="myFunction()" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</button>
                </div>
                <div class="w-full lg:w-2/4 my-5">
                    <img src="/images/system/moho.png" alt="moho Shop" class="rounded-md opacity-80 h-[350px] object-cover mx-auto">
                </div>
                <div class="hidden lg:block text-left w-1/4 text-sm leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Technical description</p>
                    <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">90%</span></p>
                    <p>Technology used:</p>
                    <ul class="list-disc ml-7">
                        <li>Tailwind CSS</li>
                        <li>Express</li>
                        <li>PostgreSql</li>
                    </ul>
                    <p>End date: <span class="text-MyYellow font-semibold ml-2">10/10/2023</span></p>
                </div>
                <div class="flex lg:hidden gap-5 justify-center">
                    <div class="text-left w-2/5 leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                        <p class="text-sm">moho was created with the main purpose of selling facial care products. With the main color being pink, it's more approachable and feels more feminine.</p>
                        <button onclick="myFunction()" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</button>
                    </div>
                    <div class="h-[150px] w-0.5 bg-white opacity-10"></div>
                    <div class="text-left w-fit text-sm leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                        <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">90%</span></p>
                        <p>Technology used:</p>
                        <ul class="list-disc ml-7">
                            <li>Tailwind CSS</li>
                            <li>Express</li>
                            <li>PostgreSql</li>
                        </ul>
                        <p>End date: <span class="text-MyYellow font-semibold ml-2">10/10/2023</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="border-bottom py-24 bg-MyGray">
        <div class="w-11/12 xl:w-5/6 mx-auto text-center">
            <p class="title">MB Assignment</p>
            <div class="flex flex-col lg:flex-row items-center gap-8">
                <div class="hidden lg:block text-left w-1/4 leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                    <p class="text-sm">MB Assignment was created with the main purpose of selling assignments in the information technology major in Greenwich. With dark tones, it is easier to approach students and feels more formal.</p>
                    <button onclick="myFunction()" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</button>
                </div>
                <div class="w-full lg:w-2/4 my-5">
                    <img src="/images/system/MBassignment.png" alt="moho Shop" class="rounded-md opacity-80 h-[350px] object-cover mx-auto">
                </div>
                <div class="hidden lg:block text-left w-1/4 text-sm leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Technical description</p>
                    <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">95%</span></p>
                    <p>Technology used:</p>
                    <ul class="list-disc ml-7">
                        <li>Bootstrap</li>
                        <li>.Net MVC</li>
                        <li>Sql Server</li>
                    </ul>
                    <p>End date: <span class="text-MyYellow font-semibold ml-2">8/3/2023</span></p>
                </div>
                <div class="flex lg:hidden gap-5 justify-center">
                    <div class="text-left w-2/5 leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                        <p class="text-sm">MB Assignment was created with the main purpose of selling assignments in the information technology industry in Greenwich. With dark tones, it is easier to approach students and feels more formal.</p>
                        <button onclick="myFunction()" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</button>
                    </div>
                    <div class="h-[150px] w-0.5 bg-white opacity-10"></div>
                    <div class="text-left w-fit text-sm leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Technical description</p>
                        <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">95%</span></p>
                        <p>Technology used:</p>
                        <ul class="list-disc ml-7">
                            <li>Bootstrap</li>
                            <li>.Net MVC</li>
                            <li>Sql Server</li>
                        </ul>
                        <p>End date: <span class="text-MyYellow font-semibold ml-2">8/3/2023</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border-bottom py-24 ">
        <div class="w-11/12 xl:w-5/6 mx-auto text-center">
            <p class="title">MB English Center</p>
            <div class="flex flex-col lg:flex-row items-center gap-8">
                <div class="hidden lg:block text-left w-1/4 leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                    <p class="text-sm">MB English Center was created for the purpose of selling courses as well as registering for online English classes. This project is done once in Php and once in .Net. MVC.</p>
                    <a href="https://www.youtube.com/watch?v=FbASLDAEDXM" target="_blank" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</a>
                </div>
                <div class="w-full lg:w-2/4 my-5">
                    <img src="/images/system/englishcenter.png" alt="moho Shop" class="rounded-md opacity-80 h-[350px] object-cover mx-auto">
                </div>
                <div class="hidden lg:block text-left w-1/4 text-sm leading-6">
                    <p class="text-lg text-MyYellow font-semibold mb-2">Technical description</p>
                    <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">80%</span></p>
                    <p>Technology used:</p>
                    <ul class="list-disc ml-7">
                        <li>Bootstrap</li>
                        <li>.Net MVC / Php</li>
                        <li>Sql Server</li>
                    </ul>
                    <p>End date: <span class="text-MyYellow font-semibold ml-2">6/11/2022</span></p>
                </div>
                <div class="flex lg:hidden gap-5 justify-center">
                    <div class="text-left w-2/5 leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Description</p>
                        <p class="text-sm">MB English Center was created for the purpose of selling courses as well as registering for online English classes. This project is done once in Php and once in .Net. MVC.</p>
                        <a href="https://www.youtube.com/watch?v=FbASLDAEDXM" target="_blank" class="px-5 py-2 rounded-full btn-hover mt-4">Watch video</a>
                    </div>
                    <div class="h-[150px] w-0.5 bg-white opacity-10"></div>
                    <div class="text-left w-fit text-sm leading-6">
                        <p class="text-lg text-MyYellow font-semibold mb-2">Technical description</p>
                        <p>Completion Level: <span class="text-MyYellow font-semibold ml-2">80%</span></p>
                        <p>Technology used:</p>
                        <ul class="list-disc ml-7">
                            <li>Bootstrap</li>
                            <li>.Net MVC / Php</li>
                            <li>Sql Server</li>
                        </ul>
                        <p>End date: <span class="text-MyYellow font-semibold ml-2">6/11/2022</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border-bottom py-24 bg-MyGray">
        <div class="w-11/12 xl:w-5/6 mx-auto text-center">
            <p class="title">FIGMA DESIGN</p>
            <p class="w-3/4 mx-auto">To be honest, I'm not very familiar with interface design, so my proficiency with Figma is at a basic level, which limits the impact on my designs. Here are some projects I have worked on using Figma</p>
            <img src="/images/system/figma.png" alt="" class="w-[700px] h-[400px] object-cover border-8 border-MyYellow rounded-lg mx-auto my-7" >
            <a href="https://www.figma.com/files/project/102350760/Minh's-project?fuid=1243760342730820091" target="_blank" class="px-5 py-2 rounded-full btn-hover" >View</a>
        </div>
    </div>

    <div class="border-bottom py-20 ">
        <div class="w-11/12 xl:w-5/6 mx-auto text-center">
            <p class="title">MY EXPRESSION</p>
            <p class="w-3/4 mx-auto">To be honest, I haven't experienced any real projects with a team; therefore, I may lack experience and not possess deep technical knowledge. However, I'm confident in my eagerness to learn and my readiness to absorb new knowledge. So far, I haven't admitted that I'm talented or smart, but when I encounter problems, I will always try my best to solve them. Thank you for being here, appreciate it!</p>
        </div>
    </div>
